.grid-square {
    width: 100%;
    height: 100%;

    background-color: black;
}

.inactive-square {
    width: 98%;
    height: 98%;
    z-index: 1;

    background-color: gray;
    margin: 1%;
}

.active-square {
    position: relative;
    width: 98%;
    height: 98%;
    z-index: 1;

    background-color: aqua;
    margin: 1%;
}